<div class="navbar-custom topnav-navbar">
	<div class="container-fluid">
		<a class="topnav-logo" [href]="url.WebAccount">
            <span class="topnav-logo d-block d-md-none">
				<img src="assets/images/logo-mobile.png" alt="" height="40">
            </span>

			<span class="topnav-logo d-none d-md-block">
                <img src="assets/images/logo.png" alt="" height="40">
            </span>
		</a>

		<ul class="list-unstyled topbar-right-menu float-right mb-0">
			<li class="dropdown notification-list d-none d-md-block" style="padding: 25px 17px 25px 17px !important;">
				<a [routerLink]="['/cart']">Cart</a>
			</li>

			<li class="dropdown notification-list d-none d-md-block" style="padding: 25px 17px 25px 17px !important;">
				<a [routerLink]="['/']">Marketplace</a>
			</li>

			<li class="dropdown notification-list d-none d-md-block" style="padding: 25px 17px 25px 17px !important;">
				<a [href]="url.WebManage + 'stores/1'">My Stores</a>
			</li>

			<li class="dropdown notification-list" [ngClass]="{ 'show' : isVisible }">
				<div class="nav-link dropdown-toggle nav-user arrow-none mr-0" (click)="menu()">
                    <span class="account-user-avatar" *ngIf="imageStatus('notset')">
                        <img src="assets/images/avatar.png" alt="user-image" class="rounded-circle">
                    </span>

					<div class="account-user-avatar" *ngIf="imageStatus('set')">
						<img src="{{ url.GatewayMedia }}images/{{ accountModel.AccountAvatarID }}_500_500.jpg" alt="user-image" class="rounded-circle">
					</div>

					<span>
                        <span class="account-user-name">{{ accountModel.AccountUsername }}</span>
                        <span class="account-position">User</span>
                    </span>
				</div>

				<div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
					<a class="dropdown-item notify-item" [href]="url.WebAccount + 'marketplace/orders'" (click)="menu()">
						<span>Orders</span>
					</a>

					<div class="dropdown-divider"></div>

					<a class="dropdown-item notify-item" [href]="url.WebAccount + 'settings/profile'" (click)="menu()">
						<span>Profile</span>
					</a>

					<a class="dropdown-item notify-item" [href]="url.WebAccount + 'settings/account'" (click)="menu()">
						<span>Account</span>
					</a>

					<a class="dropdown-item notify-item" [href]="url.WebAccount + 'settings/connect'" (click)="menu()">
						<span>Connect</span>
					</a>

					<a class="dropdown-item notify-item pb-0" [href]="url.WebAccount + 'settings/preferences'" (click)="menu()">
						<span>Preferences</span>
					</a>

					<div class="dropdown-divider"></div>

					<a class="dropdown-item notify-item pt-0" (click)="menu(); logout()">
						<span>Logout</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="container d-block d-md-none" >
	<div class="row mt-3">
		<div class="col col-4">
			<a class="btn btn-sm btn-block btn-outline-dark" [routerLink]="['/cart']">Cart</a>
		</div>

		<div class="col col-4">
			<a class="btn btn-sm btn-block btn-outline-dark" [routerLink]="['/']">Marketplace</a>
		</div>

		<div class="col col-4">
			<a class="btn btn-sm btn-block btn-outline-dark" [href]="url.WebManage + 'stores/1'">My Stores</a>
		</div>
	</div>
</div>
