<div class="container mt-3">
	<div class="row">
		<div class="col col-12">
			<div class="list-group mb-3">
				<div class="list-group-item p-3">
					<div class="row">
						<div class="col col-12">
							<div class="btn-group d-flex justify-content-between align-items-center">
								<div class="btn btn-block btn-outline-secondary" [routerLink]="['/suppliers']">
									Suppliers
								</div>

								<div class="btn btn-block btn-outline-secondary active mt-0" [routerLink]="['/products']">
									Products
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="list-group-item p-3">
                    <div class="container p-0">
						<form [(sproutValidatorForm)]="form" (ngSubmit)="submit()" novalidate>
							<div class="form-row">
								<div class="col col-12 col-md-9 col-lg-10 col-xl-10">
									<div class="form-group input-group-sm mb-2 mb-md-0">
										<input class="form-control" id="{{ inputQuery.Name }}" name="{{ inputQuery.Name }}" type="text"
											   [ngClass]="{ 'is-invalid' : ! inputQuery.IsValid && inputQuery.IsDirty && ! inputQuery.IsActive }"
											   [(ngModel)]="inputQuery.Value">
									</div>
								</div>

								<div class="col col-12 col-md-3 col-lg-2 col-xl-2">
									<button class="btn btn-primary btn-block btn-sm" id="submit" name="submit" type="submit" [disabled]="this.isLoading">Search</button>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
		</div>
	</div>

    <div class="row">
		<div class="col col-12 col-sm-6 col-lg-3 mb-3" *ngFor="let product of products">
			<div class="list-group text-center">
				<div class="list-group-item p-3">
					<a [routerLink]="['/product/' + product.ID]">
						<img class="card-img-top" src="{{ getLogo(product) }}" alt="">
					</a>
				</div>
				<div class="list-group-item pt-2 pb-2 pl-3 pr-3">
					<a class="m-0" [routerLink]="['/product/' + product.ID]">
						{{ product.Name }}
					</a>
				</div>
				<div class="list-group-item pt-2 pb-2 pl-3 pr-3">
					<div>${{ product.Marketplace.Price / 100 }} / {{ product.Marketplace.Unit }}</div>
				</div>
			</div>
		</div>
    </div>

	<div class="row mb-3" *ngIf="pageTotal > 1">
		<div class="col col-12">
			<a class="btn btn-outline-dark float-left" [routerLink]="['/products/' + pagination.Previous()]" *ngIf="pagination.PreviousShow()">
				<fa-icon [icon]="['fas', 'arrow-left']" size="lg"></fa-icon>
			</a>
			<a class="btn btn-outline-dark float-right" [routerLink]="['/products/' + pagination.Next()]" *ngIf="pagination.NextShow()">
				<fa-icon [icon]="['fas', 'arrow-right']" size="lg"></fa-icon>
			</a>
		</div>
	</div>
</div>
