<div class="container mt-3">
	<div class="row">
		<div class="col col-12 mb-3">
			<div class="list-group">
				<div class="list-group-item p-3">
					<h5 class="m-0">{{ shop.Name }}</h5>
				</div>
			</div>
		</div>
	</div>

    <div class="row">
		<div class="col col-12 col-lg-3 mb-3">
			<div class="list-group">
				<div class="list-group-item d-none d-lg-block p-3">
					<a [routerLink]="['/supplier/' + shop.ID]">
						<img class="card-img-top" src="{{ getShopLogo() }}" alt="">
					</a>
				</div>

				<div class="list-group-item d-lg-none p-3">
					<a [routerLink]="['/supplier/' + shop.ID]">
						<img class="card-img-top" src="{{ getShopCover() }}" alt="">
					</a>
				</div>

				<div class="list-group-item p-3">
					<div class="row">
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Website && shop.Links.Website.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Website" [target]="'_blank'"><fa-icon [icon]="['fas', 'link']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Blog && shop.Links.Blog.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Blog" [target]="'_blank'"><fa-icon [icon]="['fas', 'blog']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Facebook && shop.Links.Facebook.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Facebook" [target]="'_blank'"><fa-icon [icon]="['fab', 'facebook-f']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Instagram && shop.Links.Instagram.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Instagram" [target]="'_blank'"><fa-icon [icon]="['fab', 'instagram']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Twitter && shop.Links.Twitter.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Twitter" [target]="'_blank'"><fa-icon [icon]="['fab', 'twitter']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.LinkedIn && shop.Links.LinkedIn.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.LinkedIn" [target]="'_blank'"><fa-icon [icon]="['fab', 'linkedin']" size="sm"></fa-icon></a>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="col col-12 col-lg-9">
            <div class="row">
                <div class="col col-12 col-md-6 col-lg-4 mb-3" *ngFor="let product of products">
					<div class="list-group text-center">
						<div class="list-group-item p-3">
							<a [routerLink]="['/product/' + product.ID]">
								<img class="card-img-top" src="{{ getLogo(product) }}" alt="">
							</a>
						</div>
						<div class="list-group-item text-center pt-2 pb-2 pl-3 pr-3">
							<a class="mb-0" [routerLink]="['/product/' + product.ID]">
								{{ product.Name }}
							</a>
						</div>
						<div class="list-group-item text-center pt-2 pb-2 pl-3 pr-3">
							${{ product.Marketplace.Price / 100 }} / {{ product.Marketplace.Unit }}
						</div>
					</div>
                </div>
            </div>

			<div class="row mb-3" *ngIf="pageTotal > 1">
				<div class="col col-12">
					<a class="btn btn-outline-dark float-left" [routerLink]="['/supplier/' + shopID + '/products/' + pagination.Previous()]" *ngIf="pagination.PreviousShow()">
						<fa-icon [icon]="['fas', 'arrow-left']" size="lg"></fa-icon>
					</a>
					<a class="btn btn-outline-dark float-right" [routerLink]="['/supplier/' + shopID + '/products/' + pagination.Next()]" *ngIf="pagination.NextShow()">
						<fa-icon [icon]="['fas', 'arrow-right']" size="lg"></fa-icon>
					</a>
				</div>
			</div>
        </div>
    </div>
</div>
