<div class="container mt-3">
	<div class="row">
		<div class="col col-12 mb-3">
			<div class="list-group">
				<div class="list-group-item p-3">
					<h5 class="m-0">{{ product.Name }}</h5>
				</div>
			</div>
		</div>
	</div>

    <div class="row">
		<div class="col col-12 col-lg-3 mb-3">
			<div class="list-group">
				<div class="list-group-item d-none d-lg-block p-3">
					<a [routerLink]="['/supplier/' + shop.ID]">
						<img class="card-img-top" src="{{ getShopLogo() }}" alt="">
					</a>
				</div>

				<div class="list-group-item d-lg-none p-3">
					<a [routerLink]="['/supplier/' + shop.ID]">
						<img class="card-img-top" src="{{ getShopCover() }}" alt="">
					</a>
				</div>

				<div class="list-group-item p-3">
					<div class="row">
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Website && shop.Links.Website.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Website" [target]="'_blank'"><fa-icon [icon]="['fas', 'link']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Blog && shop.Links.Blog.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Blog" [target]="'_blank'"><fa-icon [icon]="['fas', 'blog']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Facebook && shop.Links.Facebook.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Facebook" [target]="'_blank'"><fa-icon [icon]="['fab', 'facebook-f']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Instagram && shop.Links.Instagram.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Instagram" [target]="'_blank'"><fa-icon [icon]="['fab', 'instagram']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.Twitter && shop.Links.Twitter.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.Twitter" [target]="'_blank'"><fa-icon [icon]="['fab', 'twitter']" size="sm"></fa-icon></a>
						</div>
						<div class="col col-4 mb-2 col-lg-6" *ngIf="shop.Links.LinkedIn && shop.Links.LinkedIn.length > 0">
							<a class="btn btn-block btn-outline-dark" [href]="shop.Links.LinkedIn" [target]="'_blank'"><fa-icon [icon]="['fab', 'linkedin']" size="sm"></fa-icon></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-12 col-lg-9">
			<div class="list-group mb-3">
				<div class="list-group-item p-3">
					<img class="card-img-top" src="{{ getProductCover() }}" alt="">
				</div>

				<div class="list-group-item p-3">
					<div class="row">
						<div class="col-12">
							<h5>{{ product.Name }}</h5>
						</div>
					</div>
				</div>

				<div class="list-group-item p-3" *ngIf="product.Description">
					<div class="row">
						<div class="col-12" [style.white-space]="'pre-wrap'">
							{{ product.Description }}
						</div>
					</div>
				</div>

				<div class="list-group-item p-3">
					<div class="row">
						<div class="col-6 text-left">
							<small class="m-0 text-uppercase">Category</small>
							<h5>{{ productService.GetTaxonomy(product.Category) }}</h5>
						</div>

						<div class="col-6 text-right">
							<small class="m-0 text-uppercase">Price</small>
							<h5>${{ product.Marketplace.Price / 100 }} / {{ product.Marketplace.Unit }}</h5>
						</div>
					</div>
				</div>

				<div class="list-group-item p-3">
					<div class="row">
						<div class="col-12">
							<sprout-cart-add [sproutShop]="shop" [sproutProduct]="product"></sprout-cart-add>
						</div>
					</div>
				</div>

				<div class="list-group-item p-3" *ngIf="product.Category === 'cannabis-hemp'">
					<div class="row">
						<div class="col-3">
							<small class="m-0 text-uppercase">Group</small>
							<h5>{{ productService.GetTaxonomy(product.Group) }}</h5>
						</div>
						<div class="col-3">
							<small class="m-0 text-uppercase">Class</small>
							<h5>{{ productService.GetTaxonomy(product.Class) }}</h5>
						</div>
						<div class="col-3">
							<small class="m-0 text-uppercase">Method</small>
							<h5>{{ productService.GetTaxonomy(product.Method) }}</h5>
						</div>
						<div class="col-3">
							<small class="m-0 text-uppercase">Type</small>
							<h5>{{ productService.GetTaxonomy(product.Type) }}</h5>
						</div>
					</div>
				</div>

				<div class="list-group-item p-3" *ngIf="product.Category === 'cannabis-hemp'">
					<div class="row">
						<div class="col-3">
							<small class="m-0 text-uppercase">THC</small>
							<h5>{{ product.THC }}%</h5>
						</div>
						<div class="col-3">
							<small class="m-0 text-uppercase">CBD</small>
							<h5>{{ product.CBD }}%</h5>
						</div>
					</div>
				</div>

				<div class="list-group-item p-3" *ngIf="product.Category === 'non-cannabis'">
					<div class="row">
						<div class="col-3">
							<small class="m-0 text-uppercase">Group</small>
							<h5>{{ productService.GetTaxonomy(product.Group) }}</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="list-group mb-3">
				<div class="list-group-item p-3">
					<h5 class="float-left">Our Products</h5>
					<a class="btn btn-sm btn-outline-dark float-right" [routerLink]="['/supplier/' + shopID + '/products/1']">More</a>
				</div>

				<div class="list-group-item p-3">
					<div class="row">
						<div class="col col-12 col-sm-4 mb-3" *ngFor="let product of products">
							<div class="list-group text-center">
								<div class="list-group-item p-3">
									<a [routerLink]="['/product/' + product.ID]">
										<img class="card-img-top" src="{{ getProductLogo(product) }}" alt="">
									</a>
								</div>
								<div class="list-group-item text-center pt-2 pb-2 pl-3 pr-3">
									<a class="mb-0" [routerLink]="['/product/' + product.ID]">
										{{ product.Name }}
									</a>
								</div>
								<div class="list-group-item text-center pt-2 pb-2 pl-3 pr-3">
									${{ product.Marketplace.Price / 100 }} / {{ product.Marketplace.Unit }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
