<div class="container mt-3">
	<div class="row" *ngFor="let shop of shops">
		<div class="col col-12 mb-3 col-lg-9">
			<div class="list-group">
				<div class="list-group-item list-group-item-light">
					<div class="row">
						<div class="col-6">
							{{ shop.Shop.Name }}
						</div>
						<div class="col-6 text-right">
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-8">
							Product
						</div>
						<div class="col-2 text-right">
							Quantity
						</div>
						<div class="col-2 text-right">
							Total
						</div>
					</div>
				</div>

				<div class="list-group-item" *ngFor="let item of shop.Items">
					<div class="row">
						<div class="col-8">
							{{ item.Product.Name }} ({{ item.Product.ID }})<br>
						</div>
						<div class="col-2 text-right">
							{{ item.Count }}
						</div>
						<div class="col-2 text-right">
							${{ round((item.Product.Marketplace.Price / 100) * item.Count) }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-12 mb-3 col-lg-3">
			<div class="list-group">
				<div class="list-group-item list-group-item-light">
					Total
				</div>

				<div class="list-group-item">
					${{ round(shop.TotalPrice / 100) }}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-12 mb-3 col-lg-9">
			<div class="list-group mb-3">
				<div class="list-group-item">
					<div class="btn btn-outline-dark btn-sm" (click)="confirm()">Confirm</div>
				</div>
			</div>
		</div>

		<div class="col col-12 col-lg-3">
		</div>
	</div>
</div>