<div class="row">
	<div class="col-3">
		<a class="btn btn-block btn-outline-primary"
		   *ngIf="enablePrevious"
		   [routerLink]="[sproutPageLink + (sproutPageCurrent - 1)]">Previous Page</a>

		<a class="btn btn-block btn-outline-primary disabled"
		   *ngIf="! enablePrevious">Previous Page</a>
	</div>
	<div class="col-6"></div>
	<div class="col-3">
		<a class="btn btn-block btn-outline-primary"
		   *ngIf="enableNext"
		   [routerLink]="[sproutPageLink + (sproutPageCurrent + 1)]">Next Page</a>

		<a class="btn btn-block btn-outline-primary disabled"
		   *ngIf="! enableNext">Next Page</a>
	</div>
</div>
