<div class="container mt-3">
	<div class="row" *ngIf="! isCartEmpty()">
		<div class="col col-12 mb-3">
			<div class="btn btn-block btn-outline-dark disabled p-3">Cart is Empty</div>
		</div>
	</div>

	<div class="row" *ngIf="isCartEmpty()">
		<div class="col col-12 mb-3 col-lg-9">
			<div class="list-group">
				<div class="list-group-item list-group-item-light">
					<div class="row">
						<div class="col-6">
							Product
						</div>

						<div class="col-2 text-right">
							Price
						</div>

						<div class="col-2 text-right">
							Quantity
						</div>

						<div class="col-2">
						</div>
					</div>
				</div>

				<sprout-cart-single-product [(sproutCart)]="cart" *ngFor="let cart of carts"></sprout-cart-single-product>
			</div>
		</div>

		<div class="col col-12 col-lg-3">
			<div class="list-group">
				<div class="list-group-item list-group-item-light">
					Total
				</div>

				<div class="list-group-item">
					${{ getTotal() }}
				</div>

				<div class="list-group-item">
					<a class="btn btn-block btn-outline-dark btn-sm" [routerLink]="['/cart/checkout']">Checkout</a>
				</div>
			</div>
		</div>
	</div>
</div>