<sprout-message-global></sprout-message-global>

<!--<sprout-nav-top *ngIf="! accountModel.IsLoggedIn()"></sprout-nav-top>-->
<sprout-nav-top-signed-in *ngIf="accountModel.IsLoggedIn()"></sprout-nav-top-signed-in>

<router-outlet></router-outlet>
