<div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="message.Show"
	 [ngClass]="{
			'list-group-item-info'   : message.Type === 'info',
			'list-group-item-success': message.Type === 'success',
			'list-group-item-warning': message.Type === 'warning',
			'list-group-item-danger' : message.Type === 'error'
		}">
	<sprout-message-form [(sproutMessage)]="message"></sprout-message-form>
</div>

<div class="list-group-item" *ngIf="isActive">
	<div class="row">
		<div class="col col-6 mb-0">
			{{ cart.Product.Name }} (<small>{{ cart.ProductID }}</small>)<br>
			Supplier ({{ cart.Shop.Name }})<br>
		</div>

		<div class="col col-2 mb-0 text-right">
			${{ round((cart.Product.Marketplace.Price / 100) * cart.Count) }}
		</div>

		<div class="col col col-2 text-right">
			<form [(sproutValidatorForm)]="form" (ngSubmit)="updateQuantity()" novalidate>
				<div class="row">
					<div class="col col-12 mb-1 input-group-sm">
						<input class="form-control text-center" id="{{ inputQuantity.Name }}" name="{{ inputQuantity.Name }}" type="text"
							   [ngClass]="{ 'is-invalid' : ! inputQuantity.IsValid && inputQuantity.IsDirty && ! inputQuantity.IsActive }"
							   [(ngModel)]="inputQuantity.Value"
							   [disabled]="! isActive"
							   [(sproutValidatorField)]="inputQuantity">
						<div class="invalid-feedback">
							{{ inputQuantity.ErrorMessage }}
						</div>
					</div>

					<div class="col col-12">
						<button class="btn btn-sm btn-block btn-outline-dark text-center" id="submit" name="submit" type="submit" [disabled]="this.isLoading">
							<fa-icon [icon]="['fas', 'arrow-right']" size="sm"></fa-icon>
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="col col-2 mb-0">
			<div class="btn btn-block btn-outline-danger btn-sm text-center" (click)="remove()">
				<fa-icon [icon]="['fas', 'times']" size="sm"></fa-icon>
			</div>
		</div>
	</div>
</div>